<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.settlement.mapper.ApplyFilesMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  apply_files 
		WHERE
			 project_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.demo.settlement.entity.ApplyFiles">
		SELECT * 
		FROM  apply_files
		WHERE
			 project_id = #{mainId} 	</select>

	<select id="selectByBizId" parameterType="java.lang.String" resultType="org.jeecg.modules.demo.settlement.entity.ApplyFiles">
        SELECT *
        FROM apply_files
        WHERE
        biz_id = #{bizId}
        <choose>
            <when test="fc != null and fc != ''">
                AND fc = #{fc,jdbcType=VARCHAR}
            </when>
        </choose>
    </select>

	<select id="selectByProjectId" parameterType="java.lang.String" resultType="org.jeecg.modules.demo.settlement.entity.ApplyFiles">
		SELECT *
		FROM apply_files
		WHERE
		project_id = #{projectId}
		<choose>
			<when test="fc != null and fc != ''">
				AND fc = #{fc,jdbcType=VARCHAR}
			</when>
		</choose>
	</select>

	<select id="selectSubFileMenu" parameterType="java.lang.String" resultType="org.jeecg.modules.demo.settlement.entity.ApplyFileMenu">
		SELECT *
		FROM apply_file_menu
		WHERE
		parent = #{parent,jdbcType=VARCHAR}
	</select>
</mapper>
